USE [master]
GO
/****** Object:  Database [DB]    Script Date: 16/06/2020 08:48:33 ******/
CREATE DATABASE [DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB', FILENAME = N'C:\sistemas\ProjetoInterdisciplinar\DB\DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_log', FILENAME = N'C:\sistemas\ProjetoInterdisciplinar\DB\DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB]
GO
/****** Object:  Table [dbo].[CIRCUITO]    Script Date: 16/06/2020 08:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIRCUITO](
	[ID_CIRCUITO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NULL,
	[POTENCIA_APARENTE] [decimal](8, 2) NULL,
	[DISJUNTOR_DR] [bit] NULL,
	[DR_AMPER] [int] NULL,
	[OBSERVACAO] [varchar](150) NULL,
	[DISJUNTOR] [int] NULL,
	[BITOLA_CABO] [decimal](8, 2) NULL,
	[CORRENTE_ALTERNADA] [decimal](8, 2) NULL,
	[FATOR_POTENCIA] [decimal](8, 2) NULL,
	[POTENCIA_ATIVA] [int] NULL,
	[TENSAO] [int] NULL,
	[COD_CIRCUITO] [int] NULL,
	[FASES] [int] NULL,
	[ID_STATUS] [int] NULL,
	[CREATED_AT] [timestamp] NULL,
	[UPDATED_AT] [datetime] NULL,
	[ID_USER] [int] NULL,
 CONSTRAINT [PK_CIRCUITO] PRIMARY KEY CLUSTERED 
(
	[ID_CIRCUITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIRCUITO_PROJETO]    Script Date: 16/06/2020 08:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIRCUITO_PROJETO](
	[ID_CIRCUITO_PROJETO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[ID_CIRCUITO] [int] NULL,
	[ENTRADA] [int] NOT NULL,
 CONSTRAINT [PK_CIRCUITO_PROJETO] PRIMARY KEY CLUSTERED 
(
	[ID_CIRCUITO_PROJETO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJETO]    Script Date: 16/06/2020 08:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJETO](
	[ID_PROJETO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NULL,
	[ENTRADAS] [int] NULL,
	[ID_USER] [int] NULL,
	[ID_STATUS] [int] NULL,
 CONSTRAINT [PK_PROJETO] PRIMARY KEY CLUSTERED 
(
	[ID_PROJETO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 16/06/2020 08:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[ID_STATUS] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 16/06/2020 08:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[LOGIN] [varchar](50) NULL,
	[SENHA] [char](8) NULL,
	[ID_STATUS] [int] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CIRCUITO]  WITH CHECK ADD  CONSTRAINT [FK_CIRCUITO_STATUS] FOREIGN KEY([ID_STATUS])
REFERENCES [dbo].[STATUS] ([ID_STATUS])
GO
ALTER TABLE [dbo].[CIRCUITO] CHECK CONSTRAINT [FK_CIRCUITO_STATUS]
GO
ALTER TABLE [dbo].[CIRCUITO_PROJETO]  WITH CHECK ADD  CONSTRAINT [FK_CIRCUITO_PROJETO_CIRCUITO] FOREIGN KEY([ID_CIRCUITO])
REFERENCES [dbo].[CIRCUITO] ([ID_CIRCUITO])
GO
ALTER TABLE [dbo].[CIRCUITO_PROJETO] CHECK CONSTRAINT [FK_CIRCUITO_PROJETO_CIRCUITO]
GO
ALTER TABLE [dbo].[CIRCUITO_PROJETO]  WITH CHECK ADD  CONSTRAINT [FK_CIRCUITO_PROJETO_PROJETO] FOREIGN KEY([ID_PROJETO])
REFERENCES [dbo].[PROJETO] ([ID_PROJETO])
GO
ALTER TABLE [dbo].[CIRCUITO_PROJETO] CHECK CONSTRAINT [FK_CIRCUITO_PROJETO_PROJETO]
GO
ALTER TABLE [dbo].[PROJETO]  WITH CHECK ADD  CONSTRAINT [FK_PROJETO_STATUS] FOREIGN KEY([ID_STATUS])
REFERENCES [dbo].[STATUS] ([ID_STATUS])
GO
ALTER TABLE [dbo].[PROJETO] CHECK CONSTRAINT [FK_PROJETO_STATUS]
GO
ALTER TABLE [dbo].[PROJETO]  WITH CHECK ADD  CONSTRAINT [FK_PROJETO_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID_USER])
GO
ALTER TABLE [dbo].[PROJETO] CHECK CONSTRAINT [FK_PROJETO_USER]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_STATUS] FOREIGN KEY([ID_STATUS])
REFERENCES [dbo].[STATUS] ([ID_STATUS])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_STATUS]
GO
USE [master]
GO
